.main{
    display: flex;
    flex-direction: column;
    margin: 15% 15% 5% 15%;
}
.features{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.list{
    width: 45%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.li{
    font-weight: 700;
}